@import "/styles/Partials";
@import "/styles/Partials/mixins";

.sponsored_products--BLOCK{
    grid-column: 1/-1;

    .sponsored_products_block_content--CONTAINER{

        .sponsored_products_block--HEADER{
            margin-bottom:1rem;
            h3{
                text-transform: uppercase;
                font-weight: 400;
            }

            span{
                color: #292e2e;
            }
        }

        .sponsored_products_block--SLIDER{
            position:relative;
            width: 100%;
            padding:1rem 0;

            .sponsored_products_navigation--BTN{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                z-index: 2;
                cursor: pointer;
                padding:1rem;
                background-color: #fff;
                border-radius: .7rem;
                border: 1px solid #D5D9D9;
                box-shadow: 0 0 1rem rgba(213, 217, 217, .7);
            
                &:hover {
                    background-color: #F7FAFA;
                }

                .sponsored_products_nav--ICON{
                    display:block;
                    width: 1.4rem;
                    height: 1.5rem;
                    background-image:url("/amazon-products-icons.png");

                    @include for-size(big-desktop-up){
                        zoom:1.4;
                    }
                }

                &.hide_navigation_btn{
                    display: none;
                }

                &.sponsored_products_right_nav--BTN{
                    right:0;
                    
                    
                    .sponsored_products_nav--ICON{
                        background-position: -103px -7px;
                    }
                }
                &.sponsored_products_left_nav--BTN{
                    left:0;
                    
                    .sponsored_products_nav--ICON{
                        background-position: -122px -7px;
                    }
                }
            }

            .sponsored_products_block_slider_content--WRAPPER{
                overflow: hidden;
                overflow-x: scroll;
            
                &::-webkit-scrollbar {
                    height: .9rem;
                }
            
                &::-webkit-scrollbar-track {
                    border-radius: 10rem;
                    background-color: $main_light_color;
                }
            
                &::-webkit-scrollbar-thumb {
                    border-radius: 10rem;
                    background-color: rgb(158 142 142);
                }
                .sponsored_products--CONTAINER{
                    @include flex_display(initial, initial);
                    width:100%;
                    column-gap: 1rem;


                    & > article{
                        display:inline-table;
                        width:clamp(21rem, 5.5rem + 13vw, 30rem);
                        box-shadow: 0 .5rem 1rem -.9rem rgba(0 0 0 / .3);
                    }
                }
                

            }
        }
    }
}