$main_dark_color: #131921;
$secondary_dark_color: #232F3E;

$main_light_color: #f8ede8;
$secondary_light_color: #D5D9D9;

$main_text_dark_color: #0f1111;
$secondary_text_dark_color: #007185;

$light_orange_color:#e47911;
$mid_orange_color:#c45500;
$dark_orange_color:#C7511F;