.menu_overlay__EL{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    visibility: hidden;
    background-color: none;
    transition: visibility .3s ease, background .3s ease;
    
    &.active_overlay{
        background-color: rgba(0 0 0 /50%);
        visibility: visible;
    }
}